/* GLOBAL SETTINGS
    =============================  */
* {
  box-sizing: border-box;
  font-family: sans-serif; }

button {
  text-overflow: ellipsis; }
  button:before {
    display: none; }
  button:focus, button:hover, button:active {
    color: whitesmoke;
    background-color: #79016f !important;
    background-position: 0em; }
  button:focus > h2, button:hover > h2, button:active > h2 {
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(136, 121, 190, 0.25), 0 0 5px #79016f; }
  button[type="roll"], button[type="action"] {
    background-color: whitesmoke;
    border-bottom: 0.01em solid #666;
    border-bottom-right-radius: 0.01em;
    border-color: #b3b3b3;
    border-radius: 0.25em;
    border-right: 0.02em solid #333333;
    border-style: outset;
    margin: 0.2em !important;
    padding: 0.1em !important; }

div {
  overflow: hidden;
  background-color: transparent;
  width: 100%; }

fieldset {
  background-color: transparent; }

h1 {
  overflow: hidden;
  color: #79016f;
  text-transform: uppercase;
  text-overflow: ellipsis; }

h2 {
  overflow: hidden;
  font-size: 1em;
  line-height: 1.4em;
  text-overflow: ellipsis; }
  h2.sheet-alt-color {
    color: #79016f; }
  h2.sheet-label {
    border-bottom: 0.1em solid black;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-left: 3%; }

h3 {
  overflow: hidden;
  font-size: 1.25em;
  line-height: 36px;
  text-overflow: ellipsis; }

hr {
  border-top: 0.02em solid black; }

input[type="number"] {
  text-align: center; }
input[type="text"], input[type="number"] {
  background-color: transparent;
  border: none;
  border-radius: 0em;
  height: 2.1em; }
input::placeholder {
  background-color: rgba(136, 121, 190, 0.25);
  border: 0.1em dotted #79016f; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

label {
  overflow: hidden;
  margin-bottom: 0px;
  padding-right: 0px; }

span {
  word-break: break-word; }

textarea {
  text-align: left;
  border-bottom: 0.2em dotted #b9dadf;
  font-size: 12px;
  font-weight: normal;
  height: 50px;
  line-height: 18px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 2px;
  resize: vertical;
  vertical-align: top;
  white-space: pre-line; }

.charsheet {
  min-width: 30em; }

.sheet-d6 {
  font-family: "dicefontd6"; }

.sheet-pictos {
  font-family: "pictos"; }

/* FLEXBOX
   ============================= */
div.sheet-flex {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  min-width: 410px;
  vertical-align: top;
  width: 45%; }

div.sheet-flex:first-child {
  margin-right: 0.5%; }

input.sheet-type[value*="npc"] ~ div.sheet-npc,
input.sheet-type[value*="character"] ~ div.sheet-pc {
  display: block; }

/* GRID
   ============================= */
div.sheet-grid {
  display: inline-grid;
  grid-column-gap: 0.2em;
  grid-row-gap: 0.2em;
  width: auto; }

div.sheet-grid-tab-buttons button {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: capitalize;
  font-variant: small-caps; }
  div.sheet-grid-tab-buttons button.sheet-pictos, div.sheet-grid-tab-buttons button.sheet-d6 {
    font-variant: none;
    text-transform: none; }

div.sheet-grid-tab-inputs label:nth-of-type(1) {
  grid-area: 1 / 2 / 1 / 2; }
div.sheet-grid-tab-inputs span:nth-of-type(1) {
  grid-area: 1 / 1 / 1 / 1; }
div.sheet-grid-tab-inputs label:nth-of-type(2) {
  grid-area: 2 / 2 / 2 / 2; }
div.sheet-grid-tab-inputs span:nth-of-type(2) {
  grid-area: 2 / 1 / 2 / 1; }
div.sheet-grid-tab-inputs label:nth-of-type(3) {
  grid-area: 3 / 2 / 3 / 2; }
div.sheet-grid-tab-inputs span:nth-of-type(3) {
  grid-area: 3 / 1 / 3 / 1; }

/* HIGHLIGHT BUTTONS
   ============================= */
input.sheet-whisper-toggle[value*="gm"] + button[name*="whisper"],
input.sheet-display_string[value="character"] ~ div.sheet-tabs button[name*="character"],
input.sheet-display_string[value="npc"] ~ div.sheet-tabs button[name*="npc"],
input.sheet-display_string[value="notes"] ~ div.sheet-tabs button[name*="notes"],
input.sheet-display_string[value="options"] ~ div.sheet-tabs button[name*="options"] {
  background-color: #79016f;
  box-shadow: inset 0px 0px 3px 1px rgba(136, 121, 190, 0.25);
  color: whitesmoke; }

/* TABS & LOGO SECTION
   ============================= */
div.sheet-tabs {
  margin-bottom: 2%; }
  div.sheet-tabs label > input {
    width: 100%; }
  div.sheet-tabs div.sheet-grid-tab-buttons {
    grid-template-columns: 2.5em 6em 6em 6em; }
    div.sheet-tabs div.sheet-grid-tab-buttons button.sheet-pictos, div.sheet-tabs div.sheet-grid-tab-buttons button[type="roll"] {
      border-radius: 2em; }

/* INPUTS FOR CHARACTER, PLAYER, NOTES..... */
div.sheet-grid-tab-inputs {
  grid-template-columns: 8em 73%; }
  div.sheet-grid-tab-inputs label {
    border-bottom: 0.15em solid black; }
  div.sheet-grid-tab-inputs span {
    font-weight: bold;
    text-transform: uppercase; }

/* NPC SHEET
    ============================= */
/* PC SHEET
   ============================= */
div.sheet-pc {
  /* PERSONAL DATA
     ----------------------------- */
  /* ATTRIBUTES
    ----------------------------- */ }
  div.sheet-pc div.sheet-bot-border {
    border-bottom: 0.1em solid black; }
  div.sheet-pc div.sheet-info-flex {
    width: 100%; }
    div.sheet-pc div.sheet-info-flex div.sheet-grid-tab-buttons {
      grid-template-columns: 6em 6em 6em 6em 6em 6em 6em 6em 2.5em; }
  div.sheet-pc div.sheet-grid-header {
    grid-template-columns: 10em 2.5em 2.5em 10em 2.5em 2.5em; }
    div.sheet-pc div.sheet-grid-header button {
      grid-area: 1 / 1 / 1 / 1;
      font-family: "pictos";
      height: 2em;
      width: 2em; }
    div.sheet-pc div.sheet-grid-header h1 {
      margin-left: 10%;
      grid-area: 1 / 1 / 1 / 7; }
    div.sheet-pc div.sheet-grid-header h2 {
      text-transform: uppercase; }
      div.sheet-pc div.sheet-grid-header h2:nth-of-type(1) {
        grid-area: 2 / 2 / 2 / 2; }
      div.sheet-pc div.sheet-grid-header h2:nth-of-type(2) {
        grid-area: 2 / 3 / 2 / 3; }
      div.sheet-pc div.sheet-grid-header h2:nth-of-type(3) {
        grid-area: 2 / 5 / 2 / 5; }
      div.sheet-pc div.sheet-grid-header h2:nth-of-type(4) {
        grid-area: 2 / 6 / 2 / 6; }
    div.sheet-pc div.sheet-grid-header hr {
      grid-area: 3 / 1 / 3 / 7; }
  div.sheet-pc div.sheet-border {
    border: 0.15em solid #79016f;
    border-radius: 0.8em;
    margin-bottom: 2%;
    padding: 2% 1%; }
  div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row {
    border-bottom: 0.1em solid black;
    /* NAME */
    /* METATYPE / ETHNICITY */
    /* AGE / SEX / HEIGH / WEIGHT */
    /* REPUTATION / HEAT */
    /* KARMA / TOTAL KARMA / MISC */ }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(1) {
      grid-area: 1 / 1 / 1 / 1; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(2) {
      grid-area: 2 / 1 / 2 / 1; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(3) {
      grid-area: 3 / 1 / 3 / 1; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(4) {
      grid-area: 4 / 1 / 4 / 1; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(5) {
      grid-area: 5 / 1 / 5 / 1; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(1) {
      grid-template-columns: 38% 62%; }
      div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(1) h2 {
        text-transform: uppercase; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(2) {
      grid-template-columns: 15% 28% 14% 43%; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(3) {
      grid-template-columns: 7% 13% 7% 15% 12% 15% 12% 15%; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(4) {
      grid-template-columns: 18% 26% 8% 47%; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(5) {
      grid-template-columns: 10% 15% 20% 15% 8% 29%; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row:nth-of-type(1n+2) h2 {
      text-transform: capitalize; }
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row input[type="text"],
    div.sheet-pc div.sheet-grid-personal-data div.sheet-grid-row input[type="number"] {
      width: 100%; }
  div.sheet-pc div.sheet-grid-attributes {
    width: 49.5%; }
    div.sheet-pc div.sheet-grid-attributes button[type="roll"] {
      border-bottom-left-radius: 0em;
      border-bottom-right-radius: 0em;
      border-bottom: 0.1em solid black;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: capitalize; }
    div.sheet-pc div.sheet-grid-attributes h2 {
      text-align: right;
      padding-right: 2%; }
    div.sheet-pc div.sheet-grid-attributes input {
      text-align: center; }
      div.sheet-pc div.sheet-grid-attributes input[type="hidden"][value=""] ~ div.sheet-grid div > span.sheet-total, div.sheet-pc div.sheet-grid-attributes input[type="hidden"][value="0"] ~ div.sheet-grid div > span.sheet-total, div.sheet-pc div.sheet-grid-attributes input[type="hidden"][value="0"] ~ div.sheet-grid div > span.sheet-total::after, div.sheet-pc div.sheet-grid-attributes input[type="hidden"][value="0"] ~ div.sheet-grid div > span.sheet-total::before {
        display: none; }
      div.sheet-pc div.sheet-grid-attributes input[type="text"] {
        border-bottom: 0.15em solid #79016f;
        width: 3.5em; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(1) {
      grid-area: 1 / 1 / 1 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(2) {
      grid-area: 2 / 1 / 2 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(3) {
      grid-area: 3 / 1 / 3 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(4) {
      grid-area: 4 / 1 / 4 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(5) {
      grid-area: 5 / 1 / 5 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(6) {
      grid-area: 6 / 1 / 6 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(7) {
      grid-area: 7 / 1 / 7 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(8) {
      grid-area: 8 / 1 / 8 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(9) {
      grid-area: 9 / 1 / 9 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(10) {
      grid-area: 10 / 1 / 10 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row:nth-of-type(11) {
      grid-area: 11 / 1 / 11 / 3; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row {
      grid-template-columns: 10em 1fr;
      margin-bottom: 2%; }
      div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row button, div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row h2.sheet-label {
        grid-area: 1 / 1 / 1 / 1; }
      div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-display {
        grid-area: 1 / 2 / 1 / 2;
        text-align: center; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-display span.sheet-total::after {
          content: ")"; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-display span.sheet-total::before {
          content: "("; }
      div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings {
        grid-area: 2 / 1 / 2 / 4;
        grid-template-columns: 1fr 1fr 1fr 1fr; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings div.sheet-arrow-up {
          grid-area: 1 / 2 / 1 / 3; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings h2:nth-of-type(1) {
          grid-area: 2 / 1 / 2 / 1; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings h2:nth-of-type(2) {
          grid-area: 2 / 3 / 2 / 3; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings h2:nth-of-type(3) {
          grid-area: 3 / 1 / 3 / 1; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings h2:nth-of-type(4) {
          grid-area: 3 / 3 / 3 / 3; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings label:nth-of-type(1) {
          grid-area: 2 / 2 / 2 / 2; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings label:nth-of-type(2) {
          grid-area: 2 / 4 / 2 / 4; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings label:nth-of-type(3) {
          grid-area: 3 / 2 / 3 / 2; }
        div.sheet-pc div.sheet-grid-attributes div.sheet-grid-row div.sheet-settings label:nth-of-type(4) {
          grid-area: 3 / 4 / 3 / 4; }
    div.sheet-pc div.sheet-grid-attributes div.sheet-grid-pc-edge {
      grid-template-columns: 1fr; }
  div.sheet-pc span.sheet-total {
    display: none; }

/* SHARED SETTINGS
  ============================= */
div.sheet-settings {
  border-left: 0.2em solid #79016f;
  margin-left: 1%;
  margin-top: 2%;
  background: rgba(136, 121, 190, 0.25); }
  div.sheet-settings div.sheet-arrow-up {
    border-bottom: 5px solid #79016f;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    left: 21%;
    position: relative;
    width: 0; }
  div.sheet-settings h2 {
    text-transform: capitalize; }

/* SHOW & HIDE SETTINGS 
	============================= */
div.sheet-settings {
  -webkit-transition: all .5s;
  /* Safari */
  display: none;
  height: 0;
  overflow: hidden;
  position: relative;
  transition: all .5s;
  z-index: 1; }

div.sheet-settings::before {
  border-bottom: 10px solid #79016f;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  left: 49%;
  position: absolute;
  top: -10px;
  z-index: -1; }

div.sheet-toggle, input[name="attr_toggles"][value*="attributes"] ~ div.sheet-pc div.sheet-grid-attributes div.sheet-settings {
  display: inline-grid;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3% 1%; }

span.sheet-inline, input[name="attr_toggles"][value*="agility_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_agility"], input[name="attr_toggles"][value*="body_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_body"], input[name="attr_toggles"][value*="charisma_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_charisma"], input[name="attr_toggles"][value*="intuition_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_intuition"], input[name="attr_toggles"][value*="logic_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_logic"], input[name="attr_toggles"][value*="reaction_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_reaction"], input[name="attr_toggles"][value*="special_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_special"], input[name="attr_toggles"][value*="strength_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_strength"], input[name="attr_toggles"][value*="willpower_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_willpower"], input[name="attr_toggles"][value*="initiative_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_initiative"], input[name="attr_toggles"][value*="matrix_initiative_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_matrix_initiative"], input[name="attr_toggles"][value*="astral_initiative_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_astral_initiative"], input[name="attr_toggles"][value*="composure_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_composure"], input[name="attr_toggles"][value*="judge_intentions_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_judge_intentions"], input[name="attr_toggles"][value*="memory_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_memory"], input[name="attr_toggles"][value*="lift_carry_total"] ~ div.sheet-pc div.sheet-grid-attributes span[name="attr_lift_carry"] {
  display: inline; }

/* FOOTER
   ============================= */
div.sheet-footer {
  text-align: left;
  border: none;
  font-size: 0.55em;
  line-height: 15px;
  margin-top: 2%;
  width: 100%; }

/* REPEATING SECTION
   ============================= */
/* This will make the Add & Modify words transparent so that only our symbols below show up */
button.btn.repcontrol_add,
button.btn.repcontrol_edit {
  color: transparent; }

/* This will put icons next to the buttons. A `+` for Add and a lock for edit */
.repcontrol .repcontrol_edit:after,
.repcontrol .repcontrol_add:after {
  color: #111518;
  font-family: pictos;
  font-size: 2.5em; }

.repcontrol .repcontrol_edit:after {
  content: '('; }

.repcontrol .repcontrol_add:after {
  content: '&'; }

.editmode ~ .repcontrol .repcontrol_edit:after {
  content: ')'; }

/* These are the buttons that appear after the repcontrol_edit is clicked*/
.itemcontrol {
  z-index: 10; }

.itemcontrol .repcontrol_del,
.itemcontrol .repcontrol_move {
  font-size: 18px;
  margin-top: 0px;
  padding: 0px;
  width: 15px; }

.itemcontrol .repcontrol_del {
  background-color: #79016f;
  font-family: "pictos"; }

/* ROLL TEMPLATE
   ============================= */
.sheet-rolltemplate-rolls .sheet-template-body {
  border: 1px solid #000;
  text-align: center; }

.sheet-rolltemplate-rolls .sheet-template-header {
  text-transform: capitalize;
  text-align: center;
  font-variant: small-caps;
  background-color: whitesmoke;
  border: 1px solid #000;
  border-bottom: 2px solid #000;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 4px 0px 3px 0px; }

.sheet-rolltemplate-rolls .sheet-template-row {
  background-color: #555; }

/* Use this to alternate the background colors for each row */
.sheet-rolltemplate-rolls .sheet-template-row:nth-child(2n+0) {
  background-color: #1c1c1c; }

/* Remove some fo the built in styles around rolls */
.sheet-rolltemplate-rolls .inlinerollresult {
  background-color: transparent;
  border: none;
  color: #000;
  display: inline-block;
  font-size: 25px;
  padding: 5px; }

.sheet-rolltemplate-rolls .inlinerollresult.fullfail,
.sheet-rolltemplate-rolls .inlinerollresult.fullcrit,
.sheet-rolltemplate-rolls.inlinerollresult.importantroll {
  border: none; }

/* Change the colors of Full Fails & Full Crits from their built in defaults */
.sheet-rolltemplate-rolls .inlinerollresult.fullfail {
  color: whitesmoke; }

.sheet-rolltemplate-rolls .inlinerollresult.fullcrit {
  color: whitesmoke; }

/* FIREFOX
   ============================= */
input[type=number]:-webkit-outer-spin-button,
input[type=number]:-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/* SCREEN READER ADJUSTMENTS
    =============================  */
.sheet-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* LANGUAGE ADJUSTMENTS
    =============================  */

/*# sourceMappingURL=shadowrun6e.css.map */
