
// VARIABLES
//  ============================= *
   $pictos: "pictos";
   $d6: "dicefontd6";
   $padding: 1%;


   // COLORS
	$accent1  : hsl(305, 98%, 24%);
	$accent2  : hsla(253, 35%, 61%, 0.25);
	$accent3  : #b9dadf;
	$black    : hsl(0, 6%, 0%);
	$dark-font: #000;
	$gray     : #4c4c4c;
	$white    : hsl(0, 0%, 96%);

// MIXINS
//  =============================
   
	@mixin back-col($color){
		background-color: $color;
	}

	@mixin grid-area($cstart, $cend, $rstart, $rend) {
		grid-area: #{$rstart} / #{$cstart} / #{$rend} / #{$cend};
	}

	@mixin text-align($align){
		text-align: $align;
	}

	@mixin border($size, $style, $color) {
		border-bottom: $size $style $color;
	}

	@mixin button-like() {
		font-size     : 1.1em;
		font-weight   : bold;
		text-transform: capitalize;
	}

// FUNCTIONS
//  =============================
	@function alternate($first, $increase) {
		$value: $first;
		@if $first > 1 {
			$value: $first + $increase;
		}

		@return $value;
	}
	//.item {
	//  	grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>;
	//}
	//<name> - a name of your choosing
	//<row-start> / <column-start> / <row-end> / <column-end> - can be numbers or named lines

/* GLOBAL SETTINGS
    =============================  */
	* {
	    box-sizing: border-box;
	    font-family: sans-serif;
	}

	button {
		overflow: hidden;

		&:before {
			display: none;
		}
		&:focus,
   		&:hover,
   		&:active {
   			color: $white;
   			background-color: $accent1 !important;
   			background-position: 0em;
   		}

   		&:focus > h2,
   		&:hover > h2,
   		&:active > h2 {
			color: $white;
			text-shadow: 1px 1px 2px $black, 0 0 25px $accent2, 0 0 5px $accent1
	   	}
		&[type="roll"],
		&[type="action"] {
			@include back-col(hsl(0, 0%, 96%));
			border: {
				bottom             : 0.01em solid #666;
				bottom-right-radius: 0.01em;
				color              : hsl(0, 0%, 70%);
				radius             : 0.25em;
				right              : 0.02em solid hsl(0, 0%, 20%);
				style              : outset;
			}
			margin: 0.2em !important;
			padding: 0.1em !important;
		}
	}

	div {
		overflow: hidden;
		@include back-col(transparent);
		width: 100%;
	}

	fieldset {
		@include back-col(transparent);
	}

	h1 {
		overflow: hidden;
		color: $accent1;
		text-transform: uppercase;
	}

	h2 {
		overflow: hidden;
		font-size: 1em;
   		line-height: 1.4em;
		&.sheet-alt-color {
			color: $accent1;
	   	}
	   	&.sheet-label {
   			@include border(0.1em, solid, $black);
			@include button-like();
			text-align: center;
			margin-left: 3%;
   		}
	}

	h3 {
		overflow: hidden;
		font-size: 1.25em;
		line-height: 36px;
	}

	hr {
		border-top: 0.02em solid $black;
	}

	input {
		&[type="number"] {
			@include text-align(center);
		}
		&[type="text"],
		&[type="number"] {
			@include back-col(transparent);
			border: none;
			border: {
				radius: 0em;
			};
			height       : 2.1em;
		}
		&::placeholder {
			@include back-col($accent2);
			border: 0.1em dotted $accent1;
		}
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	}

	label {
		overflow: hidden;
		margin-bottom: 0px;
		padding-right: 0px;
	}

	span {
		word-break: break-word;
	}

	textarea {
		@include text-align(left);
		border-bottom : 0.2em dotted $accent3;
		font-size     : 12px;
		font-weight   : normal;
		height        : 50px;
		line-height   : 18px;
		overflow      : hidden;
		overflow-wrap : break-word;
		padding       : 2px;
		resize        : vertical;
		vertical-align: top;
		white-space   : pre-line;
	}

	.charsheet {
		min-width: 30em;
	}

	.sheet-d6 {
		font-family: "dicefontd6";
	}

	.sheet-pictos {
		font-family: $pictos;
	}

/* FLEXBOX
   ============================= */
	div.sheet-flex {
		align-items    : flex-start;
		display        : inline-flex;
		flex-direction : row;
		flex-wrap      : wrap;
		justify-content: flex-start;
		max-width      : 100%;
		min-width      : 410px;
		vertical-align : top;
		width          : 45%;
	}

	div.sheet-flex:first-child {
		margin-right: 0.5%;
	}

	input.sheet-type[value*="npc"] ~  div.sheet-npc,
	input.sheet-type[value*="character"] ~  div.sheet-pc {
	    display: block;
	}	

/* GRID
   ============================= */ 
	div.sheet-grid {
		display        : inline-grid;
		grid-column-gap: 0.2em;
		grid-row-gap: 0.2em;
		width: auto;
	}

	div.sheet-grid-tab-buttons {
		button {
			@include button-like();
			font-variant: small-caps;

			&.sheet-pictos,
			&.sheet-d6 {
		  		font-variant: none;
		  		text-transform: none;
			}
		}
	}

	div.sheet-grid-tab-inputs {
		@for $i from 1 through 3 {
			label:nth-of-type(#{$i})  { 
				@include grid-area(2, 2, $i, $i);
			}
			span:nth-of-type(#{$i})  {
				@include grid-area(1, 1, $i, $i);
			}
		}
	}

/* HIGHLIGHT BUTTONS
   ============================= */
	input.sheet-whisper-toggle[value*="gm"] + button[name*="whisper"],
	input.sheet-display_string[value="character"] ~ div.sheet-tabs button[name*="character"],
	input.sheet-display_string[value="npc"] ~ div.sheet-tabs button[name*="npc"],
	input.sheet-display_string[value="notes"] ~ div.sheet-tabs button[name*="notes"],
	input.sheet-display_string[value="options"] ~ div.sheet-tabs button[name*="options"] {
		@include back-col($accent1);
		box-shadow: inset 0px 0px 3px 1px $accent2;
		color     : $white;
	}

/* TABS & LOGO SECTION
   ============================= */
	div.sheet-tabs {
		margin-bottom: 2%;

		label > input {
			width: 100%;
		}

		div.sheet-grid-tab-buttons {
			grid-template-columns: 2.5em 6em 6em 6em;

			button {
				&.sheet-pictos,
				&[type="roll"] {
			  		border-radius: 2em;
				}
			}
		}
	}

	/* INPUTS FOR CHARACTER, PLAYER, NOTES..... */
	div.sheet-grid-tab-inputs {
		grid-template-columns: 8em 73%;

		label {
			@include border(0.15em, solid, $black);
		}

		span {
			font-weight   : bold;
			text-transform: uppercase;
		}
	}


/* NPC SHEET
    ============================= */

/* PC SHEET
   ============================= */

	div.sheet-pc {
		div.sheet-bot-border {
			@include border(0.1em, solid, $black);
		}

		div.sheet-info-flex {
			width: 100%;

			div.sheet-grid-tab-buttons {
				grid-template-columns: 6em 6em 6em 6em 6em 6em 6em 6em 2.5em;
			}
		}

		div.sheet-grid-header {
	   		grid-template-columns: 10em 2.5em 2.5em 10em 2.5em 2.5em;

		   button {
		   		@include grid-area(1, 1, 1, 1);
		   		font-family: $pictos;
				height: 2em;
				width: 2em;
		   }

		   h1 {
		   		margin-left: 10%;
		   		@include grid-area(1, 7, 1, 1);
		   }

		   h2 {
		   		text-transform: uppercase;
			   	@for $i from 1 through 2 {
			   		&:nth-of-type(#{$i})  { 
			   			@include grid-area($i+1, $i+1, 2, 2); 
			   		}
				}

				@for $i from 3 through 4 {
			   		&:nth-of-type(#{$i})  { 
			   			@include grid-area($i+2, $i+2, 2, 2);
			   		}
				}
		   }

		   hr {
		   		@include grid-area(1, 7, 3, 3);
		   }
	   }

	   	div.sheet-border {
			border       : 0.15em solid $accent1;
			border-radius: 0.8em;
			margin-bottom: 2%;
			padding: 2% 1%;
		}

	/* PERSONAL DATA
	   ----------------------------- */
	   div.sheet-grid-personal-data {
	   		div.sheet-grid-row {
	   			@include border(0.1em, solid, $black);

	   			@for $i from 1 through 5 {
			   		&:nth-of-type(#{$i})  { 
			   			@include grid-area(1, 1, $i, $i);
			   		}
				}

				/* NAME */
				&:nth-of-type(1) {
					grid-template-columns: 38% 62%;

					h2 {
						text-transform: uppercase;
					}
				}

				/* METATYPE / ETHNICITY */
				&:nth-of-type(2) {
					grid-template-columns: 15% 28% 14% 43%;
				}

				/* AGE / SEX / HEIGH / WEIGHT */
				&:nth-of-type(3) {
					grid-template-columns: 7% 13% 7% 15% 12% 15% 12% 15%;
				}

				/* REPUTATION / HEAT */
				&:nth-of-type(4) {
					grid-template-columns: 18% 26% 8% 47%;
				}

				/* KARMA / TOTAL KARMA / MISC */
				&:nth-of-type(5) {
					grid-template-columns: 10% 15% 20% 15% 8% 29%;
				}

		   		&:nth-of-type(1n+2) h2 {
		   			text-transform: capitalize;
		   		}

		   		input[type="text"],
		   		input[type="number"] {
		   			width: 100%;
		   		}

		   		div.sheet-name label {

		   		}
	   		}
	   }

	 /* ATTRIBUTES
	   ----------------------------- */
	   div.sheet-grid-attributes {
	   		width: 49.5%;

	   		button {
	   			&[type="roll"] {
					border-bottom : {
						left-radius : 0em;
						right-radius: 0em;
					}
					@include border(0.1em, solid, $black);
					@include button-like();
				}
	   		}

	   		h2 {
	   			@include text-align(right);
	   			padding-right: 2%;
	   		}

	   		input {
	   			@include text-align(center);
	   			&[type="hidden"][value=""] ~ div.sheet-grid div > span.sheet-total,
		   		&[type="hidden"][value="0"] ~ div.sheet-grid div > span.sheet-total,
		   		&[type="hidden"][value="0"] ~ div.sheet-grid div > span.sheet-total::after,
		   		&[type="hidden"][value="0"] ~ div.sheet-grid div > span.sheet-total::before {
		   			display: none;
		   		}

		   		&[type="text"] {
		   			border-bottom: 0.15em solid $accent1;
			   		width: 3.5em;
			   	}
	   		}

			@for $i from 1 through 11 {
				div.sheet-grid-row:nth-of-type(#{$i})  { 
					@include grid-area(1, 3, $i, $i);
				}
			}

		   div.sheet-grid-row {
				grid-template-columns: 10em 1fr;
				margin-bottom: 2%;

		   		button, h2.sheet-label { 
					@include grid-area(1, 1, 1, 1);
				}

				div.sheet-display { 
					@include grid-area(2, 2, 1, 1);
					text-align: center;

					span {
						&.sheet-total::after {
				   			content: ")";
				   		}

				   		&.sheet-total::before {
				   			content: "(";
				   		}
					}
				}

				div.sheet-settings { 
					@include grid-area(1, 4, 2, 2);
					grid-template-columns: 1fr 1fr 1fr 1fr;

					div.sheet-arrow-up {
						@include grid-area(2, 3, 1, 1);
					}

					h2 {
						@for $i from 1 through 2 {
							&:nth-of-type(#{$i})  { 
								@include grid-area(alternate($i, 1), alternate($i, 1), 2, 2);
							}
						}

						&:nth-of-type(3) {
							@include grid-area(1, 1, 3, 3);
						}

						&:nth-of-type(4) {
							@include grid-area(3, 3, 3, 3);
						}
					}

					label {
						@for $i from 1 through 2 {
							&:nth-of-type(#{$i})  { 
								@include grid-area(alternate($i, 1)+1, alternate($i, 1)+1, 2, 2);
							}
						}

						&:nth-of-type(3) {
							@include grid-area(2, 2, 3, 3);
						}


						&:nth-of-type(4) {
							@include grid-area(4, 4, 3, 3);
						}
					}
				}
			}

	   		div.sheet-grid-pc-edge {
		   		grid-template-columns: 1fr;
		   	}
	   	}
	}

 /* SHARED SETTINGS
   ============================= */ 
   div.sheet-settings {
		border-left: 0.2em solid $accent1;
		margin-left: 1%;
		margin-top: 2%;
   		background: $accent2;

	   	div.sheet-arrow-up {
			border-bottom: 5px solid $accent1;
			border-left  : 5px solid transparent;
			border-right : 5px solid transparent;
			height       : 0; 
			left         : 21%;
			position     : relative;
			width        : 0; 
		}

		h2 {
			text-transform: capitalize;
		}
   }


/* FOOTER
   ============================= */
	div.sheet-footer {
		@include text-align(left);
		border     : none;
		font-size  : 0.55em;
		line-height: 15px;
		margin-top : 2%;
		width      : 100%;
	}

/* REPEATING SECTION
   ============================= */
	.repcontainer .repitem {

	};

	/* This will make the Add & Modify words transparent so that only our symbols below show up */
	 button.btn.repcontrol_add,
	 button.btn.repcontrol_edit  {
	 	color: transparent;
	 }

	 /* This will put icons next to the buttons. A `+` for Add and a lock for edit */
	.repcontrol .repcontrol_edit:after,
	.repcontrol .repcontrol_add:after  {
	 	color           : #111518;
	 	font-family     : pictos;
	    font-size       : 2.5em;}

	.repcontrol .repcontrol_edit:after {
		content: '(';
	}

	.repcontrol .repcontrol_add:after {
		content: '&';
	}

	.editmode ~ .repcontrol .repcontrol_edit:after {
		content: ')';
	}

	/* These are the buttons that appear after the repcontrol_edit is clicked*/
	.itemcontrol {
		z-index: 10;
	}

	.itemcontrol .repcontrol_del,
	.itemcontrol .repcontrol_move {
	    font-size: 18px;
	    margin-top: 0px;
	    padding: 0px;
	    width: 15px;}

	.itemcontrol .repcontrol_del {
		@include back-col($accent1);
		font-family: $pictos;
	}

/* ROLL TEMPLATE
   ============================= */
	.sheet-rolltemplate-rolls {

	}

	.sheet-rolltemplate-rolls .sheet-template-body {
		border    : 1px solid #000;
		@include text-align(center);
	}

	.sheet-rolltemplate-rolls .sheet-template-header {
		text-transform: capitalize;
		@include text-align(center);
		font-variant: small-caps;
		@include back-col($white);
		border          : 1px solid #000;
		border-bottom   : 2px solid #000;
		color           : black;
		font-size       : 20px;
		letter-spacing  : 2px;
		padding         : 4px 0px 3px 0px;
	}

	.sheet-rolltemplate-rolls .sheet-template-row {
		@include back-col(#555);
	}

	/* Use this to alternate the background colors for each row */
	.sheet-rolltemplate-rolls .sheet-template-row:nth-child(2n+0) {
		@include back-col(#1c1c1c);
	}

	/* Remove some fo the built in styles around rolls */
	.sheet-rolltemplate-rolls .inlinerollresult {
		@include back-col(transparent);
		border          : none;
		color           : $dark-font;
		display         : inline-block;
		font-size       : 25px;
		padding         : 5px;
	}

	.sheet-rolltemplate-rolls .inlinerollresult.fullfail,
	.sheet-rolltemplate-rolls .inlinerollresult.fullcrit,
	.sheet-rolltemplate-rolls.inlinerollresult.importantroll {
		border: none;
	}

	/* Change the colors of Full Fails & Full Crits from their built in defaults */
	.sheet-rolltemplate-rolls .inlinerollresult.fullfail {
		color: $white;
	}

	.sheet-rolltemplate-rolls .inlinerollresult.fullcrit {
		color: $white;
	}

/* FIREFOX
   ============================= */
	input[type=number]:-webkit-outer-spin-button,
	input[type=number]:-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;}

	input[type=number] {
	    -moz-appearance:textfield;}

/* SCREEN READER ADJUSTMENTS
    =============================  */

.sheet-hidden {
	clip     : rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height   : 1px;
	margin   : -1px;
	overflow : hidden;
	padding  : 0;
	position : absolute;
	width    : 1px;
}

/* LANGUAGE ADJUSTMENTS
    =============================  */