//- TABs
//- =============================
- const tabs = ['core', 'arms', 'gear', 'magic', 'matrix', 'social', 'vehicle'];
- const personalDetails = ['name/primary alias', 'metatype', 'ethnicity', 'age', 'sex', 'height', 'weight', 'reputation', 'heat', 'karma', 'total karma', 'misc'];
- const attributes = ['body', 'agility', 'reaction', 'strength', 'willpower', 'intuition', 'charisma'];
- const skills = ['astral', 'athletics', 'biotech', 'close combat', 'con', 'conjuring', 'cracking', 'electronics', 'enchanting', 'engineering', 'exotic weapons', 'firearms', 'influence', 'outdoors', 'perception', 'piloting', 'sorcery', 'stealth', 'tasking'];