//- TABs
//- =============================
- const tabs = ['core', 'arms', 'gear', 'magic', 'matrix', 'social', 'vehicle'];
- const personalDetails = ['name/primary alias', 'metatype', 'ethnicity', 'age', 'sex', 'height', 'weight', 'reputation', 'heat', 'karma', 'total karma', 'misc'];

//- ARRAYS
- const attributes = ['body', 'agility', 'reaction', 'strength', 'willpower', 'logic', 'intuition', 'charisma'];

//- OBJECTS
- const skills = {'astral':'intuition', 'athletics':'agility', 'biotech':'logic', 'close combat':'agility', 'con':'charisma', 'conjuring':'special', 'cracking':'special', 'electronics':'logic', 'enchanting':'special', 'engineering':'logic', 'exotic weapons':'agility', 'firearms':'agility', 'influence':'charisma', 'outdoors':'intuition', 'perception':'intuition', 'piloting':'reaction', 'sorcery':'special', 'stealth':'agility', 'tasking':'special'};

//- BUTTON Pieces
- const buttonSuffix = '+@{wound_toggle}+@{modifier_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}{{mod=[[@{modifier_toggle}]]}}{{wound=[[@{wound_toggle}]]}}{{edge=[[@{edge_toggle}]]}}';
- const buttonPrefix ='@{gm_toggle} &{template:rolls}'