/* GLOBAL SETTINGS
    =============================  */
	* {
	    box-sizing: border-box;
	    font-family: sans-serif;
	}

	button {
		text-overflow: ellipsis;
		&:before {
			display: none;
		}
		&:focus,
   		&:hover,
   		&:active {
   			color: $white;
   			background-color: $darkaccent !important;
   			background-position: 0em;
   		}

   		&:focus > h2,
   		&:hover > h2,
   		&:active > h2 {
			color: $white;
			text-shadow: 1px 1px 2px $black, 0 0 25px $accent2, 0 0 5px $accent1
	   	}
		&[type="roll"],
		&[type="action"] {
			@include back-col(hsl(0, 0%, 96%));
			font-variant: small-caps;
			font-weight: bold;
			text-align: center;
			text-overflow: ellipsis;
			text-transform: capitalize;
			border: {
				bottom             : 2px solid #666;
				bottom-right-radius: 2px;
				color              : hsl(0, 0%, 70%);
				radius             : 5px;
				right              : 3px solid hsl(0, 0%, 20%);
				style              : outset;
			}
			margin: 0.2em !important;
			padding: 0.1em !important;
		}
	}

	div {
		overflow: hidden;
		@include back-col(transparent);
		width: 100%;
	}

	fieldset {
		@include back-col(transparent);
	}

	h1 {
		overflow: hidden;
		color: $accent1;
		text-transform: uppercase;
		text-overflow: ellipsis;
	}

	h2 {
		overflow: hidden;
		font-size: 1em;
   		line-height: 1.4em;
   		text-overflow: ellipsis;
   		font-variant: small-caps;
		&.sheet-alt-color {
			color: $accent1;
	   	}
	   	&.sheet-label {
   			@include border(0.1em, solid, $black);
			@include button-like();
			text-align: center;
			margin-left: 3%;
   		}
	}

	h3 {
		font-size: 1.25em;
		line-height: 36px;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: capitalize;
   		font-variant: small-caps;
	}

	hr {
		border-top: 0.02em solid $black;
	}

	input {
		&[type="number"] {
			@include text-align(center);
		}
		&[type="text"],
		&[type="number"] {
			@include back-col(transparent);
			border: none;
			border: {
				radius: 0em;
			};
			height: 2.1em;
			width: 100%;
		}
		&::placeholder {
			@include back-col($accent2);
			border: 0.1em dotted $accent1;
		}
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	}

	label {
		overflow: hidden;
		margin-bottom: 0px;
		padding-right: 0px;
	}

	select {
		text-transform: capitalize;
   		font-variant: small-caps;
		width: 100%;
	}

	span {
		word-break: break-word;
	}

	textarea {
		@include text-align(left);
		border-bottom : 0.2em dotted $accent3;
		font-size     : 12px;
		font-weight   : normal;
		height        : 50px;
		line-height   : 18px;
		overflow      : hidden;
		overflow-wrap : break-word;
		padding       : 2px;
		resize        : vertical;
		vertical-align: top;
		white-space   : pre-line;
	}
