
// MIXINS
//  =============================
   
	@mixin back-col($color){
		background-color: $color;
	}

	@mixin grid-area($rstart, $cstart, $rend, $cend) {
		grid-area: #{$rstart} / #{$cstart} / #{$rend} / #{$cend};
	}

	@mixin oldgrid-area($cstart, $cend, $rstart, $rend) {
		grid-area: #{$rstart} / #{$cstart} / #{$rend} / #{$cend};
	}

	@mixin text-align($align){
		text-align: $align;
	}

	@mixin border($size, $style, $color) {
		border-bottom: $size $style $color;
	}

	@mixin button-like() {
		font-size     : 1.1em;
		font-weight   : bold;
		text-transform: capitalize;
	}

	@mixin repeatingInformation($endColumn, $longCollapseFlag) {
		label[data-i18n-title='notes'], 
		h3[data-i18n='notes'], 
		div.sheet-collapse { 
			grid-column: 1 / #{$endColumn};
		}

		input.sheet-collapse-flag {
			@if $longCollapseFlag {
				grid-area: 1 / 1 / 1 / #{$endColumn - 1};
				position: absolute;
				width: 100%;
			} @else {
				grid-area: 1 / #{$endColumn - 2} / 1 / #{$endColumn - 1};
			}
		}

		input.sheet-collapse-flag + span.sheet-pictos { 
			grid-area: 1 / #{$endColumn - 2} / 1 / #{$endColumn - 1}; 
		}

		input.sheet-settings-flag, 
		input.sheet-settings-flag + span.sheet-pictos { 
			grid-area: 1 / #{$endColumn - 1} / 1 / #{$endColumn}; 
		}
	}